@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* body{
    font-family: 'Poppins';
}  */
.header_main_site {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.header_main_site video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 2.9rem;
}
.navbar img {
  width: 160px;
  position: relative;
  top: -11px;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}
.content {
  text-align: center;
  height: 61vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content h1 {
  font-size: 90px;
  color: #fff;
}
.content a {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  width: 200px;
  display: inline-block;
  padding: 16px 5px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.box_form_header {
  max-width: 600px;
  margin: 0 auto;
}

.form_header {
  width: 100%;
  height: 50px;
  position: relative;
}
.form_header input {
  border: none;
  outline: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 20px;
}
.form_header button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 12px 25px;
  border: none;
  background-color: #fdbc00;
  border-radius: 0 20px 20px 0;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.form_header button:hover,
.content a:hover {
  background-color: #00c0e2;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 1rem;
    width: 80%;
    justify-content: space-between;
  }
  .navbar img {
    width: 100px;
    top: 0;
  }
  .navbar ul {
    gap: 1rem;
  }
  .navbar ul li a {
    font-size: 0.6rem;
    padding: 6px;
  }
  .content {
    height: auto;
    margin-top: 5rem;
  }
  .content h1 {
    font-size: 50px;
  }
  .box_form_header {
    margin-top: 4rem;
  }
}
